/* https://codepen.io/abhishek747/pen/BbWKVa */

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_image h3 {
  margin: 0px;
  margin-top: 50px;
  font-size: 34px;
  display: flex;
  justify-content: space-around;
}

.card_image h6 {
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 10px;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  background-color: #a1da05;
}

.card_image h3 {
  color: #000;
}

.card_image h6 {
  margin-top: 10px;
  color: #000;
}

.card .card_icon {
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 64px;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}

/* .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -80px;
    height: 40px;
} */

/* .card:hover {
    transform: scale(0.9, 0.9);
} */

.title {
  color: rgb(181, 221, 1);
}

/*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

/* https://codepen.io/xichen/pen/ZpgdGq */

@import "https://fonts.googleapis.com/css?family=Raleway";
* {
  outline: none;
  user-select: none;
}

body,
html {
  margin: 0;
  background: hsl(0, 3%, 8%);
  color: hsl(76, 95%, 45%);
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.profile {
  width: 330px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: rgb(202, 216, 3);
  animation: show-profile 0.5s forwards ease-in-out;
}

@keyframes show-profile {
  0% {
    width: 0;
  }
}

.profile .photo,
.profile .content {
  box-sizing: border-box;
}

.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 0px solid rgb(179, 218, 7);
  background-color: rgb(137, 216, 10);
  margin-left: -50px;
}

@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}

@font-face {
  font-family: myFirstFont;
  src: url("../28\ Days\ Later.ttf");
}

h3 {
  font-family: "myFirstFont";
  font-size: 2rem;
}

h6 {
  font-family: "myFirstFont";
  font-size: 1rem;
}

.profile {
  z-index: 25;
}

.profile .photo img {
  width: 100%;
}

.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 100%;
}

.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #212121;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}

#particle-canvas {
  width: 100%;
  height: 100%;
}

.profile .content .text {
  margin-top: 12px;
  margin-left: 50px;
}

.profile .content .text h3,
.profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

.profile .content .btn {
  background-color: #212121;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
  opacity: 30;
}

@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: rgb(189, 221, 8);
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}

.profile .content .btn span::before,
.profile .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(204, 218, 8);
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}

.profile .content .btn span::before {
  margin-top: -7px;
}

.profile .content .btn span::after {
  margin-top: 7px;
}

.profile .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}

.profile .content .btn.active span::before,
.profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}

.profile .content .btn.active span::before {
  transform: rotate(45deg);
}

.profile .content .btn.active span::after {
  transform: rotate(-45deg);
}

@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}

@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}

a {
  color: currentColor;
  display: inline-block;
  text-decoration: none;
}

.profile .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  /* z-index: 25; */
}

i {
  color: rgb(22, 22, 22);
}

h3 {
  color: rgb(216, 219, 8);
}

.profile .box a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b3e404;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px / 2);
  transition-duration: 0.3s;
}

.profile .box a i:hover {
  transition-delay: initial !important;
}

.profile .box.open {
  opacity: 1;
}

.profile .box.open i {
  left: 60px;
}

.profile .box.open a:nth-of-type(1) i {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}

.profile .box.open a:nth-of-type(2) i {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}

.profile .box.open a:nth-of-type(3) i {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}

.profile .box.open a:nth-of-type(4) i {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}

.profile .box.open a:nth-of-type(5) i {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}

@media all and (max-width: 500px) {
  .cards-list {
    display: flex;
  }

  .profile {
    display: none;
  }
}

@media all and (min-width: 501px) {
  .cards-list {
    display: none;
  }

  .profile {
    display: flex;
  }
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  #particle-canvas {
    display: none;
  }

  .card {
    width: 140px;
  }
}
